<configuration>
  <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <!-- https://logback.qos.ch/manual/layouts.html -->
      <pattern>[%date{mm:ss.SSS} %highlight(%-5level) %15.15logger{10}:%3.3line] %-130.-130msg [%thread]%n</pattern>
    </encoder>
  </appender>

  <appender name="SEQUENCE" class="ch.qos.logback.core.FileAppender">
    <file>target/test/sequence.log</file>
    <encoder>
      <!-- https://logback.qos.ch/manual/layouts.html -->
      <pattern>\t %msg%n</pattern>
    </encoder>
  </appender>

  <root level="error">
    <appender-ref ref="console" />
  </root>

  <logger name="Clock.SequenceChart" level="info" additivity="false">
    <appender-ref ref="SEQUENCE"/>
  </logger>

  <logger name="slick.interop.zio" level="warn"/>
  <logger name="com.saldubatech" level="warn"/>
  <logger name="com.saldubatech.ddes" level="info"/>
  <logger name="com.saldubatech.ddes.runtime" level="info"/>

</configuration>
